

.starIcon {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex !important;
    width: 20% !important;
    height: 20% !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
  }